<div id="login-bar" class="row">
    <div class="col-md-3 offset-md-9">
        <ul class="collapsed-list valign-center text-right">
            <li><a href="#">Login</a></li>
            <li><a href="#">Create account</a></li>
        </ul>
    </div>
</div>

<div id="navbar" class="row">
    <div class="col-md-8">
        <h1>Logo</h1>
    </div>

    <div class="col-md-4">
        <ul class="collapsed-list valign-center text-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Calendar</a></li>
        </ul>
    </div>
</div>

<div id="recent-posts" class="row">
    <div class="col-md-3 text-center">
        <h4 class="valign-center">Recent posts</h4>
    </div>

    <div class="col-md-3">
        <ul>
            <li><a href="#">Post 1</a></li>
            <li><a href="#">Post 2</a></li>
            <li><a href="#">Post 3</a></li>
            <li><a href="#">Post 4</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <li><a href="#">Post 1</a></li>
            <li><a href="#">Post 2</a></li>
            <li><a href="#">Post 3</a></li>
            <li><a href="#">Post 4</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul>
            <li><a href="#">Post 1</a></li>
            <li><a href="#">Post 2</a></li>
            <li><a href="#">Post 3</a></li>
            <li><a href="#">Post 4</a></li>
        </ul>
    </div>
</div>