<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/shared.css">

    <style>
        .subject-icon {
            width: 3%;
        }

        .subject-content {
            width: 70%;
        }

        .subject-stats {
            width: 12%;
        }

        .subject-recent {
            width: 15%;
        }

        .subject-title {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div class="container main-container">
    <div id="login-bar" class="row">
        <div class="col-md-3 offset-md-9">
            <ul class="collapsed-list valign-center text-right">
                <li><a href="#">Login</a></li>
                <li><a href="#">Create account</a></li>
            </ul>
        </div>
    </div>

    <div id="navbar" class="row">
        <div class="col-md-8">
            <h1>Logo</h1>
        </div>

        <div class="col-md-4">
            <ul class="collapsed-list valign-center text-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Members</a></li>
                <li><a href="#">Calendar</a></li>
            </ul>
        </div>
    </div>

    <div id="recent-posts" class="row">
        <div class="col-md-3 text-center">
            <h4 class="valign-center">Recent posts</h4>
        </div>

        <div class="col-md-3">
            <ul>
                <li><a href="#">Post 1</a></li>
                <li><a href="#">Post 2</a></li>
                <li><a href="#">Post 3</a></li>
                <li><a href="#">Post 4</a></li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul>
                <li><a href="#">Post 1</a></li>
                <li><a href="#">Post 2</a></li>
                <li><a href="#">Post 3</a></li>
                <li><a href="#">Post 4</a></li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul>
                <li><a href="#">Post 1</a></li>
                <li><a href="#">Post 2</a></li>
                <li><a href="#">Post 3</a></li>
                <li><a href="#">Post 4</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Nume categorie</h1>
            <small>Descriere categorie</small>
        </div>
    </div>

    <div class="row">
        <table class="section-table" border="1">
            <caption>
                <ul class="collapsed-list">
                    <li><a href="#">Most recent</a></li>
                    <li><a href="#">Start date</a></li>
                    <li><a href="#">Most replied</a></li>
                    <li style="float: right;"><a href="#">Add new subject</a></li>
                </ul>
            </caption>
            <tbody>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><span class="badge">Pinned</span><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><span class="badge">Pinned</span><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><span class="badge">Pinned</span><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><span class="badge">Pinned</span><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
                <tr class="subject">
                    <td class="subject-icon text-center"><img src="#"></td>
                    <td class="subject-content">
                        <p class="subject-title"><a href="#">Subiect 1</a></p>
                        <small class="subject-description">Descriere categoria 1</small>
                    </td>
                    <td class="subject-stats">
                        <ul class="list-no-style">
                            <li>1000 replies</li>
                            <li>10000 views</li>
                        </ul>
                    </td>
                    <td class="subject-recent">
                        <ul class="list-no-style">
                            <li><a href="#">user1</a></li>
                            <li>2 minutes ago</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <ul class="col-md-12 collapsed-list text-center">
            <li><a href="#">Confidentialitate</a></li>
            <li><a href="#">Bullshit</a></li>
            <li><a href="#">Bullshit</a></li>
            <li><a href="#">Bullshit</a></li>
        </ul>
    </div>
</div>
</body>
</html>