<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var category in ViewBag.Categories)
{
    <h3>
        <!--<a class="toggle right" href="#" title="Toggle Soft Related / OS">Toggle Soft Related / OS</a> <span class="glyph">▶</span> --> 
        <a href="/Categories/Show?id=@category.CategoryId" title="View subjects in this category">@category.Name</a>
    </h3>
    int nrSubjects = 0;
    int limit = 5;
    <table class="display-table">
        <tbody>
            @foreach (var subject in category.Subjects)
            {
                nrSubjects = nrSubjects + 1;
                if (nrSubjects > limit)
                { break; }
                int contentLimit = 50;
                string subjectContentDisplay = subject.Content;
                if (subjectContentDisplay.Length > contentLimit)
                {
                    subjectContentDisplay = subject.Content.Substring(0, contentLimit);
                    subjectContentDisplay = subjectContentDisplay + "...";
                }
                <tr>
                    <td class="td-icon">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Color_icon_blue.svg" height="42" width="42">
                    </td>
                    <td class="td-details">
                        <h1>@subject.Title</h1>
                        <p>@subjectContentDisplay</p>
                        <p>Owner: <b>@subject.User.UserName</b></p>
                    </td>
                    <td class="td-statistics">
                        <p>X vizualizari si raspunsuri - TODO</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}
@if (User.IsInRole("Administrator"))
{
    <a href="/Categories/New">Add a new category</a>
}