
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var category in ViewBag.Categories)
{
    <a href="/Categories/Show/@category.CategoryId">@category.Name</a>
    foreach (var subject in category.Subjects)
    {
        <p>@subject.Title</p>
        <p>@subject.Content</p>
        <br/>
    }
    <br />
    <hr />
    <br />
}
<a href="/Categories/New">Adauga alta categorie</a>
<br />