
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="post" action="New">
    <label for="Name">Name</label>
    <br />
    <input name="Name" id="TextName" type="text" />
    <br />
    <button type="submit">Creeaza categoria</button>
</form>
