
@{
    ViewBag.Title = "New";
}

<h2>Create a new subject</h2>

<form method="post" action="New">
    <label for="Title">Title</label>
    <br />
    <input name="Title" id="TextTitle" type="text" />
    <br /> <br />
    <label for="Content">Content</label>
    <br />
    <input name="Content" id="TextContent" type="text" />
    <br />
    <label for="CategoryId">Category</label>
    <br />
    <select name="CategoryId">
        @foreach (var category in ViewBag.CategoriesIds)
        {
            if (category.CategoryId == ViewBag.CategoryId)
            {
                <option value="@category.CategoryId" selected>@category.Name</option>
            }
            else
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        }
    </select>
    <br />
    <button type="submit">Create subject</button>
</form>
